h1{
    margin-top: 0;
}

button{
    background: none;
    border: none;
    font-size: xx-large;
    color: rgba(23, 155, 144, 0.767);
}

button:hover{
    color: rgb(236, 66, 14);
    text-shadow: -1.5px 1.5px 0 #000,
                  1.5px 1.5px 0 #000,
                  1.5px -1.5px 0 #000,
                 -1.5px -1.5px 0 #000;
}

button:hover + .hidden-text{
    max-height: 100%;
    transition: max-height 2s ease-out;
}

.all-div{
    height: 100vh;
    /* overflow: hidden; */
}

.hidden-text{
    max-height: 0;
    overflow: hidden;
}

.main-content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    position: relative;
    min-height:89vh;
    width: 99vw;
}

.box1, .box2, .box3{
    display: flex;
    flex: 1 1 auto;
    /* height: 89vh; */
    margin: 4px;
    /* overflow: scroll; */
    /* justify-content: center; */
    border: 5px black solid;
    border-radius: 15px;
    z-index:0;
    background: rgb(33, 219, 204);
    box-shadow: 5px 10px #888888;
    transition:flex 0.5s ease-out;
}

.img-div{
    flex: 0 1 auto;
    margin: 5px;
    text-align: center;
    /* height: 80% */
}

.text-div{
    flex: 0 1 45%;
    margin: 5px;
}

.button-div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.content-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* width: 100%; */
}

.xp-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.expanded{
    z-index: 10000;
    flex: 3 1 auto;
    transition:flex 1s ease-out;
}

.shrink{
    flex: 1;
}

.hidden{
    display: none;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (max-width: 480px){
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height:89vh;
        width: 99vw;
    }

    .img-div{
        flex: 1 1 auto;
        margin: 5px;
        text-align: center;
        /* height: 80% */
    }
    
    .text-div{
        flex: 1 1 45%;
        margin: 5px;
    }

    .content-div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 50vh;
        overflow: scroll;
        /* width: 100%; */
    }
}