.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height:89vh;
    width: 99vw;
}

.box1, .box2, .box3{
    display: flex;
    flex: 1 1 300px;
    margin: 5px;
    justify-content: center;
    border: 5px black solid;
    z-index:0;
    background: blue;
    transition:flex 1s ease-out;
}

.expanded{
    z-index: 10000;
    flex: 3 1 100%;
    transition:flex 3s ease-out;
}

.shrink{
    flex:0;
}

.hidden{
    display: none;
}